.Filter{
    padding: 8px 5px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.Filter button{
    margin: 0 15px;
    padding: 4px 10px;
    width: 100%;
    max-width: 80px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid rgb(165, 165, 165);
}