.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090C10;
}

.container .logo{
    width: 40%;
    display: flex;
    justify-content: center;
}

.container .logo img{
    width: 50%;
    height: auto;
}

.container .form{
    width: 50%;
    display: flex;
    justify-content: center;
}

.container .form form{
    width: 65%;
    min-width: 440px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(110, 110, 110);
    padding: 15px;
    border-radius: 5px;
    background-color: #161b22;
}

.container .form form input{
    padding: 15px 10px;
    border: 1.5px solid rgb(194, 194, 194);
    border-radius: 5px; 
    margin-bottom: 20px;
}

.container .form form input:focus{
    outline: none;
}

.container .form form .login-btn{
    padding: 15px 10px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px; 
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #21262d;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.container .form form .login-btn:focus{
    outline: none;
}

.container .form form .login-btn:hover{
    background-color: #242b31;
}

.container .form form .password-reset{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container .form form .password-reset a{
    text-decoration: none;
    color: #c9d1d9;
}

.container .form form .password-reset a:hover{
    color: #d7dee6;
}

.container .form form hr{
    margin-bottom: 20px;
    border: 0.5px solid rgb(136, 136, 136);
}

.container .form form .register-btn{
    text-decoration: none;
    text-align: center;
    padding: 15px 10px;
    border: 1.5px solid rgb(194, 194, 194);
    border-radius: 5px; 
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #238636;
    border: none;
    color: white;
    font-size: 16px;
}

.container .form form .register-btn:focus{
    outline: none;
}

.container .form form .register-btn:hover{
    background-color: #338d45;
}

@media only screen and (max-width : 768px) {
    .container{
        justify-content: flex-start;
        flex-direction: column;
    }

    .form{
        width: 100% !important;
        max-width: 500px;
    }

    .container .form form{
        width: 90% !important;
        min-width: 0;
    }

    .container .logo img{
        width: 100% !important;
    }
}